header {
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   align-items: center;
   padding: 13px 30px; 
}

header nav {
   display: flex;
   gap: 15px;
}

header nav a {
   text-decoration: none;
   color: var(--primary-color);
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   padding: 4px;
   border-radius: 8px;
   border: 2px solid transparent;
}

header nav a:hover {
   border-bottom: 2px solid var(--primary-color);
   box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

header .logo {
   font-size: 40px;
   font-weight: bold; 
   color: var(--primary-color);
}

header .burger-icon {
   width: 45px;
   height: 45px;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
   border-radius: 50%;
   padding: 5px;
   background:  rgb(243, 240, 240);
   box-shadow: 0 8px 20px rgba(0,0,0,0.15);
   border: 0.2px solid grey;
   cursor: pointer;
   transition: all 0.4s ease;
}

header .burger-icon:hover{
  background-color: #d1d1a7;
}

header .burger-icon span {
   width: 10px; 
   height: 2px;
   background: black;
}

header .burger-icon span:nth-child(2) {
   width: 21px; 
   height: 2px;
   background: black;
}

header .burger-icon span:nth-child(3) {
   width: 14px; 
   height: 2px;
   background: black;
}


/*Start mega-menu*/
.mega-menu {
    opacity: 0;
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    width: 140px;
    min-height: 90px;
    font-size: 16px;
    background: var(--primary-color);
    color: #FFFFF0;
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7px;
    border-radius: 8px;
    position: absolute;
    top: 72px;
    right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: all 0.4s ease;
}

.mega-menu  a {
  width: 100%;  
  border-bottom: 1px solid #FFFFF0;
  padding: 0 0 10px 0;
  color: #e5e5c2;
  text-decoration: none;
}

.mega-menu a:last-child {
  border-bottom: none;
}

.show-menu {
  opacity: 1;
  transform: translateY(0);
}

/*End mega-menu*/

/*<============RESPONSIVE DESIGN===========>*/
@media (max-width: 767px) {

   header {
   padding: 13px 30px;  
}

header nav {
   display: none;
   gap: 15px;
}


header .logo {
   font-size: 32px;
   font-weight: bold; 
   color: var(--primary-color);
}

header .burger-icon {
   width: 45px;
   height: 45px;
   display: flex;
}

/*Start mega-menu*/
.mega-menu {
    width: 140px;
    min-height: 90px;
    font-size: 15px;
    padding: 7px 12px;
    gap: 7px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
     header {
   padding: 13px 30px;  
}


header .logo {
   font-size: 35px;
}

header nav a {
   font-size: 18px;
}

}

@media (min-width: 992px) and (max-width: 1200px) {

        header {
   padding: 13px 30px;  
}


header .logo {
   font-size: 38px;
}

header nav a {
   font-size: 20px;
}


}

/*<============RESPONSIVE DESIGN===========>*/

/*End global*/
