.hero-section {
    padding: 20px 40px;
    margin: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .info .headline {
    color: var(--primary-color);
}

.img-cont {
   width: 200px;
   margin: 0 300px 0 0; 
   position: relative; 
}

.img-cont img {
    width: 330px;
    height: 330px;
    border-radius: 8px;
}

.img-cont .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 50px;
    transform: rotate(-35deg);
    animation: scale-up 1s infinite;
    color: #241A1A;
}


/*<============RESPONSIVE DESIGN===========>*/
@media (max-width: 767px) {
    .hero-section {
    padding: 20px 20px;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-section .info .headline {
    color: var(--primary-color);
    height: 100px;
    display: flex;
    align-items: center;
}

.img-cont {
   width: 200px;
   margin: 20px auto 0;
}

.img-cont img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.img-cont .icon {
   width: 25px;
   height: 25px;
    position: absolute;
    top: -3PX;
    left: 20px;
    transform: rotate(-35deg);
    animation: scale-up 1s infinite;
    color: #241A1A;
}

}

@media (min-width: 768px) and (max-width: 991px) {

        .hero-section {
    padding: 20px 20px;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.img-cont {
   width: 200px;
   margin: 20px auto 0;
}

.img-cont img {
    width: 280px;
    height: 280px;
    border-radius: 8px;
}

.img-cont .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -3PX;
    left: 30px;
    transform: rotate(-35deg);
    animation: scale-up 1s infinite;
    color: #241A1A;
}

}

@media (min-width: 992px) and (max-width: 1200px) {

    
        .hero-section {
    padding: 20px 20px;
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-cont {
   width: 200px;
   margin: 20px auto 0;
}

.img-cont img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 30px;
}

.img-cont .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    left: 38px;
    transform: rotate(-35deg);
    animation: scale-up 1s infinite;
    color: #241A1A;
}

}
/*<============RESPONSIVE DESIGN===========>*/