.proj-card {
    width: 390px;
    height: 430px;
    border-radius: 8px;
    background: var(--primary-color);
    margin: 20px;
    background: #e5e5c2;
    border: 2px solid var(--primary-color);
    box-shadow: 0 8px 20px #00000026;
    transform: translateY(0);
    transition: all 0.4s ease;
}


.proj-card:hover {
   transform: translateY(-15px);
}

.proj-card .icon-img {
    height: 200px;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.proj-card .icon-img .icon-post {
    font-size: 90px;
}

.proj-card .info {
    display: flex;
    flex-direction: column;
    height: 310px;
    gap: 15px;
    padding: 10px 15px;
}

.proj-card .info .title {
    font-size: 19px;
    font-weight: bold;
    color: #152217;
}

.proj-card .info .description {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;  
}

.divider {
    width: calc(100% - 20px);
    margin: 2px auto 0;
}

.proj-card .info .links {
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: -7px;
    padding: 5px;
}

.proj-card .info .links .icon {
   font-size: 27px;
   color: var(--primary-color);
   box-shadow: 0 8px 20px rgba(0,0,0,0.15);
   background: transparent;
}


/*<============RESPONSIVE DESIGN===========>*/
@media (max-width: 767px) {

    .proj-card {
        width: 290px;
        min-height: 450px;
        margin: 20px;
}

.proj-card img {
    height: 175px;
}


.proj-card .info {
    display: flex;
    flex-direction: column;
    height: 170px;
    gap: 15px;
    padding: 10px 15px;
}

.proj-card .info .title {
    font-size: 17px;
}

.proj-card .info .description {
    font-size: 14px; 
}

.proj-card .info .links {
    margin-top: -5px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    
    .proj-card {
        width: 310px;
        min-height: 450px;
        margin: 20px;
}

.proj-card img {
    height: 195px;
}


.proj-card .info {
    display: flex;
    flex-direction: column;
    height: 190px;
    gap: 15px;
    padding: 10px 15px;
}

.proj-card .info .title {
    font-size: 18px;
}

.proj-card .info .description {
    font-size: 15px; 
}

.proj-card .info .links {
    margin-top: -10px;
}

}

@media (min-width: 992px) and (max-width: 1200px) {
        
    .proj-card {
        width: 330px;
        min-height: 460px;
        margin: 20px;
}

.proj-card img {
    height: 205px;
}


.proj-card .info {
    height: 190px;
}

.proj-card .info .title {
    font-size: 19px;
}

.proj-card .info .description {
    font-size: 16px; 
}

.proj-card .info .links {
    margin-top: -9px;
}

}

/*<============RESPONSIVE DESIGN===========>*/