.what-do-sec {
    padding: 20px 40px;
    margin: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.what-do-sec .proj-cont .projects {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 15px;
   width: 500px; 
   background: #F5F5DC;
   padding: 25px 15px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.what-do-sec .proj-cont .projects:nth-child(2) {
   background: #e5e5c2;
   box-shadow: none;
}

.what-do-sec .proj-cont .projects:nth-child(1) .awesome {
background: var(--primary-color);  
}


.what-do-sec .proj-cont .projects:nth-child(2) .awesome {
background: #FFC324;  
}

.what-do-sec .proj-cont .projects:nth-child(3) .awesome {
background: #FFA500;  
}

.what-do-sec .proj-cont .projects .awesome {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin-right: 8px;
}

.what-do-sec .proj-cont .projects .awesome .icon {
    font-size: 24px;
    color: #FFFFF0;
}

.what-do-sec .proj-cont .projects .head {
   font-size: 23px;
    font-weight: bold;
    color: var(--primary-color);
}

.what-do-sec .proj-cont .projects .count {
   font-size: 14px;
   font-weight: bold;
    color: var(--secondary-color);
}

.what-do-sec .what-info {
   display: flex;
   flex-direction: column;
   gap: 11px; 
   margin-bottom: 30px;
}

.what-do-sec .what-info .progress-cont {
   display: flex;
   flex-direction: row;
   gap: 20px; 
}

.what-do-sec .what-info .progress-cont .progress .num1 , 
.what-do-sec .what-info .progress-cont .progress .num2 {
   font-size: 35px;
   font-weight: bold;
   color: var(--primary-color);
   margin-bottom: 10px;
}

.what-do-sec .what-info .progress-cont .progress .text {
   font-size: 18px;
}

.what-do-sec .proj-cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
}

.fade-right {
    opacity: 0;
    transform: translateX(200px);
    transition: all 0.4s ease-in-out;
}

.fade-right-show {
    opacity: 1;
    transform: translateY(0);
}

.fade-left {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.4s ease-in-out;
}

.fade-left-show {
    opacity: 1;
    transform: translateX(0);
}

/*<============RESPONSIVE DESIGN===========>*/
@media (max-width: 767px) {
   .what-do-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20PX;
    gap: 30px;
}

.what-do-sec .proj-cont .projects {
   gap: 15px;
   width: 300px; 
   background: #F5F5DC;
   padding: 20px 10px;
}

.what-do-sec .proj-cont .projects .awesome {
    width: 50px;
    height: 50px;
}

.what-do-sec .proj-cont .projects .awesome .icon {
    font-size: 18px;
}

.what-do-sec .proj-cont .projects .head {
   font-size: 17px;
}

.what-do-sec .proj-cont .projects .count {
   font-size: 13px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
    .what-do-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 20px 20PX;
    gap: 30px;
}

.what-do-sec .proj-cont .projects {
   gap: 15px;
   width: 400px; 
   background: #F5F5DC;
   padding: 20px 15px;
}

.what-do-sec .proj-cont .projects .awesome {
    width: 70px;
    height: 70px;
    border-radius: 50%;   
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.what-do-sec .proj-cont .projects .awesome i {
    font-size: 20px;
}

.what-do-sec .proj-cont .projects .head {
   font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.what-do-sec .proj-cont .projects .count {
   font-size: 14px;
}

}

@media (min-width: 992px) and (max-width: 1200px) {
  .what-do-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     padding: 20px 20PX;
    gap: 30px;
}

.what-do-sec .proj-cont .projects {
   gap: 15px;
   width: 450px; 
   background: #F5F5DC;
   padding: 20px 10px;
}

.what-do-sec .proj-cont .projects .awesome {
    width: 75px;
    height: 75px;
    margin: 0 10px;
}

.what-do-sec .proj-cont .projects .awesome .icon {
    font-size: 22px;
}

.what-do-sec .proj-cont .projects .head {
   font-size: 21px;
    font-weight: bold;
    color: var(--primary-color);
}

.what-do-sec .proj-cont .projects .count {
   font-size: 15px;
}

}
/*<============RESPONSIVE DESIGN===========>*/