body , html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: #e5e5c2;
}


:root {
   --primary-color: #152217;
   --secondary-color: rgb(43, 43, 43);
}

/*Start global*/
hr {
    width: calc(100% - 100px);
    margin: 80px auto;
}

.first {
   margin: 20px auto;
}

p {
    font-size: 20px;
    line-height: 20px;
    color: var(--secondary-color); 
    width: 80%;
    line-height: 30px;
}

.headline {
  font-size: 40px;
  color: var(--primary-color);
  font-weight: bold;
}

/*<============RESPONSIVE DESIGN===========>*/
@media (max-width: 767px) {

    hr {
    width: calc(100% - 100px);
    margin: 60px auto;
}

    .first {
    margin: 20px auto;
    }

.headline {
  font-size: 33px;
}

p {
    font-size: 18px;
    line-height: 20px;
    display: flex;
    line-height: 30px;
}


}

@media (min-width: 768px) and (max-width: 991px) {

       hr {
    margin: 65px auto;
}

    .first {
    margin: 20px auto;
    }

    .headline {
  font-size: 35px;
}

p {
    font-size: 19px;
    line-height: 20px;
    display: flex;
    line-height: 30px;
}

}

@media (min-width: 992px) and (max-width: 1200px) {
       .headline {
  font-size: 36px;
}

p {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    line-height: 30px;
}
}
/*<============RESPONSIVE DESIGN===========>*/

/*End global*/
